.hero{
    display: flex;
    flex-direction: column;
}
#text {
    padding-bottom: 60px;
    font-size: 14px;
    font-family: -webkit-pictograph;
    color: rgb(150, 129, 101);
}
p {
    width: 100%;
    padding-bottom: 20px;
    font-size: 37px;
    font-family: cursive;
}

.layout1{
    width: 100%;
    background-color:rgb(255, 255, 255);
}
.layout2{
    width: 100%;
    height:100%;
}
.layout2 img{
    border-radius: 8px;
    width: 100%;
}
.logo img{
    border-radius: 8px;
    width: 7%;
}
#react-store{
    height: 57px
}

