.main{
    display: flex;
    flex-direction: column;
  }
  #example1 {
    padding: 10px;
    /* background: url(https://static7.depositphotos.com/1040018/732/i/600/depositphotos_7324797-stock-photo-black-dark-leather-wall-and.jpg); */
    background-repeat: no-repeat;
    background-size: auto;
  }
  #example2 {
    background-size: 5px 3px;
  }
  
  .navbar-group{
    display: flex;
    flex-grow: 1;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color:rgb(14, 9, 12);
    padding: 5px;
    align-items: center;
  }
  
  .navbar{
    list-style-type: none;
    margin: 0 5px;
  }
  
  .navbar a{
    text-decoration: none;
    color: rgb(230, 11, 11);
  }
  
  .navbar a:hover{
    color: blue;
  }
  
  .btn{
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
  }
  
  .btn:focus{
    color: rgb(247, 9, 9);
  }
  .App {
    color: #f7a9c3;
    border: rgb(145, 192, 14);
    text-align: center;
    border-bottom-left-radius: 200%;
  }
  .bb {
    color: #16080c;
  }
  .App-header {
    background-image: url('https://ae01.alicdn.com/kf/HTB1JpnqKXXXXXajXXXXq6xXFXXXX/-.jpg');
    background-attachment: fixed; 
    min-height: 100vh;
    display: flex;
    justify-content: left;
    flex-direction: column;

  }
  .App-header1 {
    color: rgb(252, 250, 251);
  }
  .App-header2 {
    color: rgb(121, 5, 5);
  }
  .flex{
    display: flex;
    justify-content: center;
    height: 35pc;
    width: 100%;
  }
  .flex1{
    display: flex;
    justify-content: center;
    height: 25pc;
    width: 100%;
  }
  .flex2{
    display: flex;
    justify-content: center;
    height: 5pc;
    width: 100%;
  }
  .flex3{
    display: flex;
    justify-content: right;
    height: 3pc;
    width: 100%;
  }
  .example1 {
    background-image: linear-gradient(to right, rgba(8, 0, 7, 0), rgb(8, 8, 8));
    font-size: calc(10px + 2vmin);
    color: rgb(73, 30, 46);
    border-color: rgb(233, 55, 159);
    background-repeat: no-repeat, repeat;
    padding: 15px;
  }
  .p {
    font-family: 'Times New Roman', serif;
    color: rgb(126, 42, 42);
    }

  