body {
    font-family: Arial, Helvetica, sans-serif;
  }
.content {
    color: crimson;
}
.header{
    margin-top: 0px;
    background-color: darksalmon;
}
.TextField {
    height: 26rem;
    
    
}
.btn {
    margin-left: 20px;
    margin-bottom: 20px;
}
.card{
    
    margin-top: 50px;
    margin-left: 30%;
}
.flex{
    display: flex;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 7rem;
    margin-top: 30px;
}
