.main{
  display: flex;
  flex-direction: column;
}

.navbar-group{
  display: flex;
  flex-grow: 1;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color:red;
  padding: 5px;
  align-items: center;
}

.navbar{
  list-style-type: none;
  margin: 0 5px;
}

.navbar a{
  text-decoration: none;
  color: red;
}

.navbar a:hover{
  color: blue;
}

.btn{
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn:focus{
  color: red;
}